
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    background: linear-gradient(135deg, #e32e70 0%, #4f1e8c, rgb(3, 3, 52) 100%);
    color: white;
    min-height: 100vh;
}


header {
    padding: 130px 60px;
}

.logo-container {
    display: inline-block;
    vertical-align: middle;
}




.logo-text {
    
    margin-left: 150px;
    letter-spacing: 2px;
    font-size: 50px;

}

nav {
   display: inline-block;
    width: 85%; 
    text-align: right;
    vertical-align: middle;
}

nav a {
   color: white;
    text-decoration: none;
    margin-left: 60px; 
    font-size: 30px;    
    font-weight: 500;
}

.btn-signup {
 background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 30px; 
    border-radius: 25px;
    border: 1px solid white;
    font-size: 30px;
}


.hero-container {
    text-align: center; 
    padding: 60px 0;

}

.section1 {
    display: inline-block;
    width: 48%;
    vertical-align: middle;
    text-align: center;
}

.hero-image {
    width: 110%;
    margin-top: -400px;
    
}

.text-section {
    display: inline-block;
    width: 40%;
   
    
    padding-left: 20px;
}


.art {
    font-size: 80px;
    margin: 0;
    line-height: 0.9;
    letter-spacing: 5px;
}

.studio{
    font-size: 90px;
    font-weight: 300;
    margin: 0;
    letter-spacing: 20px;
}

.line {
    width: 350px;
    height: 3px;
    background: white;
    margin: 20px 310px;

}

.description {
    font-size: 20px;
    line-height: 1.8;
    color: #f0f0f0;
    max-width: 450px;
    text-align: justify;
    padding-left: 270px;
}

.btn-str {
    display: inline-block;
    background-color: #a51aaa;
    color: white;
    padding: 30px 55px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    font-size: 30px;
}


footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    opacity: 0.7;
}
